/* CSS Mobile first */

.profile-picture {
  width: 60vw;
  height: 60vw;
  max-width: 200px;
  max-height: 200px;
  border: 2px solid black;
  margin-top: 1em;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

/*

.alias-text {
  font-weight: bold;
  text-align: center;
}

*/

.alias-container {
  border: 2px solid #2c3e50;
  display: inline-block;
  padding: 0.5em;
  margin-top: 1em;
}

.geek-level-container {
  border: 2px solid #2c3e50;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.level-indicators {
  display: flex;
  margin-top: 0.5em;
}

.level-indicator {
  width: 20px;
  height: 30px;
  border: 2px solid #2c3e50;
  margin: 0.25em;
}
.badges-container {
  margin-top: 20px;
  border: 2px solid #2c3e50;
  padding: 20px;
  border-radius: 5px;
}

/* Heading for the badges */
.badges-heading {
  margin-bottom: 10px;
}

/* List of badges */
.badges-list {
  list-style-type: none;
  padding: 0;
}

/* Individual badge item */
.badge-item {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #2c3e50;
  border-radius: 5px;
}

/* Badge name */
.badge-item p {
  margin: 0;
}

/* Badge image */
.badge-img {
  max-width: 100px; /* Adjust as per your badge image dimensions */
  margin-top: 10px;
}

/* Badge scenario or description */
.badge-item p:nth-child(3) {
  margin-top: 5px;
}

/* Badge level */
.badge-item p:nth-child(4) {
  margin-top: 5px;
}

/* Styles for larger screens */
@media (min-width: 768px) {
  .profile-container {
    flex-direction: row;
    justify-content: space-around;
    margin: 2em;
  }

  .profile-picture {
    width: 25vw;
    height: 25vw;
    max-width: 250px;
    max-height: 250px;
  }

  .alias-container {
    padding: 1em;
    margin-top: 0;
  }

  .geek-level-container {
    flex-direction: row;
    align-items: center;
  }

  .geek-level-text {
    margin-right: 1em;
  }

  .level-indicator {
    width: 30px;
    height: 50px;
    margin: 0.5em;
  }
}
