.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121111;
  border-radius: 10px;
  width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}

.webcam {
  border-radius: 10px;
  max-width: 90%;
}

.capture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #177cbc;
  border-radius: 10px;
  border-color: rgba(78, 162, 74, 0);
  box-shadow: 0 0 10px rgba(7, 237, 211, 0.89);
  padding: 10px;
  margin: 20px;
}

.prise {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(50, 195, 207, 0.44);
}

.reçu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121111;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(50, 195, 207, 0);
  padding: 20px;
  margin: 20px;
  width: 80%;
}

.mapOuter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2b6868;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(22, 167, 221, 0.76);
  padding: 10px;
  margin: 10px;
  width: 60%;
}

p {
  color: #000000;
  font-size: 10px;
  margin: 0;
}

h1 {
  color: #1391d5;
  font-size: 20px;
  margin: 0;
}

@media (max-width: 600px) {
  .webcam {
    max-width: 100%;
  }

  .capture {
    flex-direction: column;
    padding: 5px;
    margin: 10px;
  }
}
