.test {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}

card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121111;
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}

.webcam {
  max-width: 400px;
}

.capture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #aa1e1e;
  border-radius: 50px;
  padding: 10px;
  margin: 20px;
}

.prise {
  max-width: 150px;
  border-radius: 5px;
}

.reçu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121111;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}

.mapOuter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #776d6d;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
}

p {
  color: #dedddd;
  font-size: 10px;
  margin: 0;
}

h1 {
  color: #000000;
  font-size: 20px;
  margin: 0;
}

@media (max-width: 600px) {
  .webcam {
    max-width: 200px;
  }

  .capture {
    flex-direction: column;
    padding: 5px;
    margin: 10px;
  }

  .prise {
    max-width: 100px;
  }
}
