/* Form container */
#registerForm {
  background-color: rgba(37, 36, 36, 0.47);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

/* Form group (label + input) */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

/* Input fields */
#alias,
#email,
#password,
#confirmPassword {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  font-size: 14px;
}

/* Form buttons */
.form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.form-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 45%;
  background-color: black;
  color: white;
  margin-bottom: 10px;
}
