.user-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* .profile-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 16px;
} */

.user-info {
  display: flex;
  flex-direction: column;
}
