.badges {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.terms-badge-container {
  display: flex;
  flex-direction: column;
  background-color: #535252;
  border-radius: 10px;
  width: 50%;
  padding: 10px;
}

.scrollable-div {
  height: 200px;
  overflow: auto;
}

.title-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.terms-badge-container title {
  font-size: 1rem;
}

.terms-badge-container img {
  width: 40px;
  height: auto;
}

.terms-badge-container p {
  color: #ffffff;
  font-size: 1rem;
  padding: 0 20px;
}

.terms-tags-container img {
  margin-bottom: 20px;
}
