.terms-badge-container {
  display: flex;
  flex-direction: row;
  color: black;
  width: 400px;
  background-color: #535252;
  border-radius: 10px;
}

.scrollable-div {
  height: 200px;
  overflow: auto;
}

.title-image {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.terms-badge-container title {
  font-size: 16px;
}

.terms-badge-container img {
  width: 40px;
  height: auto;
}

.terms-badge-container p {
  color: #ffffff;
  font-size: 16px;
}
