.badges {
  background-color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.terms-badge-container {
  display: flex;
  flex-direction: row;
  color: black;
  background-color: #535252;
  border-radius: 10px;
  width: 50%;
  padding: 10px;
}

.scrollable-div {
  height: 200px;
  overflow: auto;
}

.title-image {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.terms-badge-container title {
  font-size: 1rem;
}

.terms-badge-container img {
  width: 40px;
  height: auto;
}

.terms-badge-container p {
  color: #ffffff;
  font-size: 1rem;
}
