.tags {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.terms-tags-container {
  display: flex;
  flex-direction: row;
  color: black;
  background-color: #535252;
  border-radius: 10px;
  width: 50%;
}

.title-image {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 10em;
  margin: 0;
  padding: 0;
}

.scrollable-div {
  height: 200px;
  overflow: auto;
}

.terms-tag-container title {
  font-size: 1rem;
}

.terms-tag-container img {
  width: 100px;
  height: auto;
}

.terms-tag-container p {
  color: #dedddd;
  font-size: 1rem;
}
